<h1>Sandwiches Details: </h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sandwich.type_name %>
</p>


<%= render "shared/twitter" , :url => sandwiches_path, :text => "I just ordered an sandwich #{@sandwich.type_name }" %>
<%= render "shared/facebook", :url => sandwiches_path %>

